* {
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: 0rem;
}  
h1{
  color: white;
}
.Container-titre {
  text-align: center;
  background-color: rgb(200, 3, 3);
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.Container-filtre {
  padding: 1rem 4rem;
  background-color: rgb(50, 50, 50);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;

}
.Container-articles
{
  margin: 4rem;
  display: flex;
  flex-direction: row;
  gap:4rem;
  flex-wrap: wrap;
  justify-content: center;
}

Article{
  width: 200px;
  padding: 1rem;
  box-shadow: 5px 5px 10px 2px rgba(225, 225, 225, 0.8);
  border-radius: 0.5rem;
}
.Selector{
  width: 6rem;
  height: 1.5rem;
  border-radius: 10px;
  padding-left: 0.25rem;
  color: rgba(70, 70, 70, 0.7);
}
footer{
background-color:red;
color:azure;
height: 4rem;
padding: 1rem;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
}
.Grid{
display:grid;

}

.container-name{
color: red;

}

h4{
color:red;
}
.container-recette {
margin: 2rem 10rem;
display: grid;


}

.recipe-info {
display: flex;
align-items: flex-start;
gap: 2rem;
}

.details {
display: flex;
flex-direction: column;
gap: 1rem;
flex: 1;
}

.info-section {
display: flex;
align-items: center;
gap: 1rem;
}

.serve-icon {
width: 50px;
height: 50px;
}

.image400px {
height: auto;
}

td{
text-decoration: underline;

}

th{
text-align: left;
}

.titre{
color:red;
}

.recherche{
  display: flex;
  flex-direction: row;
}
